@model FineArt.Models.FineArtViewModel
@{
	Layout = "_Web2Layout";
    ViewData["Title"] = "Participate";
}
<style>
    @@media (min-width: 576px){
    .card-columns {
        -webkit-column-count: 5;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
  }

    .selected {
        border: 2px solid #FFCA2C; 
    }

    .selected-icon{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 72px;
    }

    .select-posting{
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        letter-spacing: 1px;
    }
</style>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="SelectPostingOffCanvas" aria-labelledby="SelectPostingOffCanvasLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="SelectPostingOffCanvas">Your Art Designs</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="card-columns">
            @foreach(var designs in Model.myPostings)
            {
                    <div class="card card-pin">
                        <img class="card-img" src="~/posting-uploads/@designs.DesignImageUrl" alt="Card image" data-id="@designs.PostingId">
                        <i class='bx bx-check-circle selected-icon'></i>
                        <div class="overlay">
                            <div class="more">   
                                <button class="select-posting" onclick="selectPosting(this, @designs.PostingId)">
                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> SELECT
                                </button>
                            </div>
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>
</div>
<div class="loading loading-hidden"></div>
<div class="container">
<div class="row">
    <div class="col-xl-10 col-xxl-10 offset-md-1">        
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Participate in Competition</h4>
            </div>
            <div class="card-body">
                <form method="post" class="my-3" id="CompetitionSubmissionForm">
                 <div class="row">
                     <div class="col-md-8">
                        <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#SelectPostingOffCanvas" aria-controls="SelectPostingOffCanvas">🎴 Select Your Design</button>
                                <input type="hidden" id="selectedPostingId" asp-for="inputPostingSubmission.PostingId" />
                                <input type="hidden" asp-for="inputPostingSubmission.CompetitionId" value="@Model.inputCompetition.CompetitionId" />
                                <div class="form-group my-3">
                                    <label asp-for="inputPostingSubmission.SubmissionQuote"></label>
                                    <input class="form-control" asp-for="inputPostingSubmission.SubmissionQuote" placeholder="Ex. Submission Quotes..." />
                                </div>
                                <hr />
                                <p><strong>Competition Title:</strong><br/> @Model.inputCompetition.CompetitionTitle</p>
                                <p><strong>Award:</strong><br /> @Model.inputCompetition.Award.AwardTitle</p>
                                <p><strong>Reward Amount:</strong><br /> USD @Model.inputCompetition.Award.AwardAmount</p>
                                <p><strong>Last Date:</strong><br /> 
                                    @{
                                        string dateString = Model.inputCompetition.EndDate;
                                        DateTime parsedDate;

                                        if (DateTime.TryParse(dateString, out parsedDate))
                                        {
                                            string formattedDate = parsedDate.ToString("d MMMM, yyyy");
                                            @formattedDate
                                        }
                                    }
                                </p>
                                <p><strong>Term & Conditions:</strong><br /> @Model.inputCompetition.Conditions</p>
                            </div>
                    <div class="col-md-4">           
                            <div id="preview-design">
                                    <img src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-no-image-vector-illustration-isolated-png-image_4979075.jpg" width="100%" />
                            </div>
                    </div>
                 </div>
                 <div class="d-grid my-2">
                     <input type="submit" class="btn btn-warning" value="Submit Design"/>
                 </div>
                </form>                 
            </div>
        </div>
    </div>
</div>
</div>
